BiletAtolyesi/Service References/EBService/TrevooWS29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Accounts.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Accounts.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_CreditLimit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_CreditLimit" nillable="true" type="tns:T_CreditLimit" />
</xs:schema>