BiletAtolyesi/Service References/EBService/TrevooWS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Insurance.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Insurance.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v4.biletbank.com:8083/TrevooWS.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://v4.biletbank.com:8083/TrevooWS.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping" />
  <xs:import schemaLocation="http://v4.biletbank.com:8083/TrevooWS.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Insurance" />
  <xs:complexType name="ArrayOfInsuranceBookingItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceBookingItem" nillable="true" type="tns:InsuranceBookingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceBookingItem" nillable="true" type="tns:ArrayOfInsuranceBookingItem" />
  <xs:complexType name="InsuranceBookingItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping" base="q1:T_ProductItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adult" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BirthDate" nillable="true" type="q2:ArrayOfdateTime" />
          <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InsuranceCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InsuranceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaxReference" nillable="true" type="q1:T_ReversePaxReference" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="Selling_BaseFare" type="xs:decimal" />
          <xs:element minOccurs="0" name="Selling_BaseFare_Refund" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Selling_Refund_Charge" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Selling_ServiceFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="Selling_ServiceFee_Refund" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Senior" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsuranceBookingItem" nillable="true" type="tns:InsuranceBookingItem" />
  <xs:complexType name="InsuranceSearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adult" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BirthDate" nillable="true" type="q3:ArrayOfdateTime" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoverageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsuranceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceSearchRequest" nillable="true" type="tns:InsuranceSearchRequest" />
  <xs:complexType name="InsuranceSearchResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Insurance" minOccurs="0" name="InsuranceOptions" nillable="true" type="q4:ArrayOfInsurance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceSearchResponse" nillable="true" type="tns:InsuranceSearchResponse" />
</xs:schema>