BiletAtolyesi/Service References/EBService/TrevooWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v4.biletbank.com:8083/TrevooWS.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping" />
  <xs:import schemaLocation="http://v4.biletbank.com:8083/TrevooWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductStatusTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsBooking" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCancelled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsImported" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPartialRefunded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPartialRefunding" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrebooking" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRefunded" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRefunding" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReservation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductStatusTable" nillable="true" type="tns:ProductStatusTable" />
  <xs:complexType name="ProductTimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CancellationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImportedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrebookingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Prebooking_ExpiresAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reservation_ExpiresAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductTimeTable" nillable="true" type="tns:ProductTimeTable" />
  <xs:complexType name="T_PaymentOptions">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Shopping" minOccurs="0" name="PaymentInstallmentOptions" nillable="true" type="q1:ArrayOfT_PaymentInstallmentOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_PaymentOptions" nillable="true" type="tns:T_PaymentOptions" />
  <xs:complexType name="RefundPreview">
    <xs:sequence>
      <xs:element minOccurs="0" name="If_RefundSF" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="OldTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefundRequestId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RefundTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Selling_Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundPreview" nillable="true" type="tns:RefundPreview" />
</xs:schema>