BiletAtolyesi/Service References/EBService/TrevooWS14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelBase.Database.Static" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelBase.Database.Static" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_HotelProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_HotelProvider" nillable="true" type="tns:T_HotelProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_HotelProvider" nillable="true" type="tns:ArrayOfT_HotelProvider" />
  <xs:complexType name="T_HotelProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowsMultiDestinationSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="AlwaysChoose" type="xs:boolean" />
      <xs:element minOccurs="0" name="CommissionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCharter" type="xs:boolean" />
      <xs:element minOccurs="0" name="NeverChoose" type="xs:boolean" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceURLTest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_HotelProvider" nillable="true" type="tns:T_HotelProvider" />
</xs:schema>