BiletAtolyesi/Service References/EBService/TrevooWS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trevoo.WS.Entities.Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="T_XRate_Publication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfT_XRate_Item" />
      <xs:element minOccurs="0" name="PublicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_XRate_Publication" nillable="true" type="tns:T_XRate_Publication" />
  <xs:complexType name="ArrayOfT_XRate_Item">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_XRate_Item" nillable="true" type="tns:T_XRate_Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_XRate_Item" nillable="true" type="tns:ArrayOfT_XRate_Item" />
  <xs:complexType name="T_XRate_Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyingRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuoteCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellingRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_XRate_Item" nillable="true" type="tns:T_XRate_Item" />
  <xs:complexType name="ArrayOfT_XRate_Publication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_XRate_Publication" nillable="true" type="tns:T_XRate_Publication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_XRate_Publication" nillable="true" type="tns:ArrayOfT_XRate_Publication" />
</xs:schema>